.bücher{
    margin-left: 3%;
    margin-top: 6%;
    text-align: center;
}

h1{
    font-size: xx-large;
    margin-top: 4px;
}
h2{
    font-size: x-large;
    margin-top: 8px;
    margin-bottom: 15px;
}