.bücher{
    margin-left: 3%;
    margin-top: 6%;

    margin-left: 25%;
    margin-right: 25%;
}

h1{
    font-size: xx-large;
    margin-top: 15px;
    text-align: center;
}
h2{
    font-size: x-large;
    margin-top: 38px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
  }

#bild1{
    float: right;
}
