.bücher{
    margin-left: 3%;
    margin-top: 6%;

    margin-left: 25%;
    margin-right: 25%;
}

h1{
    font-size: xx-large;
    margin-top: 4px;
    text-align: center;
}
h2{
    font-size: x-large;
    margin-top: 8px;
    margin-bottom: 15px;
}

ul li {
    color: white;
}